{% extends 'base.html' %} {% block title %}
<title>Contact Us</title>
{% endblock %} {% block body %}


<div class="section">



    <center>

        <div class="login-box">
            <h2>Contact us</h2>
            <hr>
            <div class="form">
                <div class=" form-group ">
                    <label for=" ">email</label>
                    <input type="email " name=" " id=" " class="form-control " placeholder=" " aria-describedby="helpId ">
                    <small id="helpId " class="text-muted ">Help text</small>
                </div>
                <hr>
                <a href="" class='btn btn-primary btn-rounded waves-effect waves-light'>login</a>
                <a href="" class='btn btn-warning btn-rounded waves-effect waves-light'>Reset</a>
            </div>
    </center>

    </div>






    {% endblock %}